<app-header [showMenu]="false" [menus]="menus"></app-header>
<app-drawer-container #drawerContainerComponent model="side">
  <drawer>
    <app-sidenav-menu [sidenavMenu]="sidenavMenus"></app-sidenav-menu>
  </drawer>
  <drawer-content-header>
    <div class="mat-elevation-z3">
      <button mat-icon-button class="menu" (click)="menuClick()">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
    </div>
  </drawer-content-header>
  <router-outlet></router-outlet>
</app-drawer-container>
