.responsive-container {
  width: 100%;
  min-height: 100vh;
}

.mat-drawer-container {
  background-color: #fff;
}

.sidenav {
  width: 232px;
  display: flex;
}

:host ::ng-deep {
  .mat-drawer-container {
    z-index: 4;
  }
}
